* {
  margin: 0;
  font-size: 24px;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
}

.calculator {
  border: 1px solid black;
  height: 500px;
  width: 325px;
}

.screen {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen > input {
  border: none;
  text-align: end;
  font-size: 32px;
}

.screen > span {
  color: gray;
  text-align: end;
}

.buttons {
  height: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  height: 25%;
  display: flex;
  justify-content: stretch;
}

.row > button {
  width: 75px;
  cursor: pointer;
}

button:active {
  background-color: black;
  color: white;
}

button {
  background-color: white;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}
