* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
}

.calculator {
  border: 1px solid black;
  height: 500px;
  width: 325px;
}

.screen {
  border: 1px solid black;
  height: 100px;
}

.screen > input {
  height: 95px;
  width: 315px;
  border: none;
}

.buttons {
  height: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  height: 25%;
  display: flex;
  justify-content: stretch;
}

.row > button {
  width: 75px;
  /* border: 1px solid black; */
  cursor: pointer;
}
